# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build directories
build/
dist/

# Environment variables
.env

# Coverage directory used by testing tools
coverage/

# IDE/Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Miscellaneous
*.bak
*.tmp
*.swp
